/* CSS DOCUMENT */

@font-face {
	font-family: montserrat;
	src: url("fonts/montserrat/Montserrat-Regular.otf");
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70%;
	background:url("images/main_banner_pic.jpg") no-repeat center center;
	background-size: cover;
	display: table;
	text-align: center;
	font-family: montserrat;
}

#main span {
	display: table-cell;
	vertical-align: middle;
	font-size: 80px;
	font-weight: bold;
	color: #FFF;
}
#nav {
	position:fixed;
	top: 0px;
	right:0px;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	z-index:3;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav a{
	float: left;
	color: white;
	font-family: "Arial";
	font-size: 30px;
}
#nav ul li a{
	font-size:20px;
	color: white;
	font-family:montserrat;
	float: right;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 7px;
}
#about{
	padding-left: 10%;
	padding-top:5%;
	position: absolute;
	top: 70%;
	height: 70%;
}
#about h1 {
	font-family: montserrat;
	font-size: 30;
}
#about p{
	font-family: "Arial Narrow";
	font-size: 20px;
	width: 60%;
}
#projects {
	padding-left: 10%;
	padding-top:5%;
	position: absolute;
	top: 140%;
	height: 80%;
	background: #DDDDDD;
}
#projects h1{
	font-family: montserrat;
	font-size: 30px;
}

#projects table tr td h3{
	font-family:montserrat;
	font-size:20px;
	margin-left:100px;
}
#projects table tr td p{
	font-family: "Arial Narrow";
	font-size:15px;
	width:20%;
	margin-left:20px;
}
#projects table tr td div{
	width:100px;
	height:100px;
	border:2px solid black;
	border-radius: 100%;
	text-align: center;
	float:left;
}
#projects table tr td div a{
	font-family:"Arial";
	font-weight:bold;
	position: relative;
	top: +40px

}
